---
import Layout from "../components/Layout.astro";
---

<Layout title="Help" desc="Forgot your password?">
    <div class="flex flex-col justify-center items-center min-h-[85vh] px-5">
        <h1 class="text-xl text-center">
            Please email me at 
            <a href="mailto:danielwzyang@gmail.com" target="_blank" class="underline">danielwzyang@gmail.com</a>
        </h1>
        <h1 class="text-center text-balance">Send a picture of your Stuy ID showing your name and OSIS.</h1>
    </div>
</Layout>