---
import Layout from "../components/Layout.astro"

const { cookies, redirect } = Astro

// checks to see if the user is already logged in using cookies
const accessToken = cookies.get("sb-access-token")
const refreshToken = cookies.get("sb-refresh-token")

if (accessToken && refreshToken) return redirect("/dashboard")

import Form from "../components/Form.astro"
---

<Layout title="MyPulse" desc="Login to MyPulse">
    <div class="flex flex-col justify-center items-center min-h-[85vh] space-y-5">
        <h1 class="text-center text-4xl">MyPulse</h1>
        <Form type="login" />
        <a href="/help" class="text-sm text-center hover:underline">Forgot your password?</a>
    </div>

    <script>
        // gets the form element
        const form = document.getElementById("form")

        form?.addEventListener("submit", async (event) => {
            // prevent default stops the default functionality so we can handle it ourselves
            event.preventDefault()

            const data = new FormData(form as HTMLFormElement)

            const response = await fetch("/api/auth/login", {
                method: "POST",
                body: data,
            })

            // if there are no errors and login is successful
            if (response.ok) window.location.href = "/dashboard"
            else {
                // gets the error msg from the response
                const text = await response.text()

                // gets the error element and sets the text
                const error = document.getElementById("error")
                error!.textContent = text
            }
        })
    </script>
</Layout>
