---
interface Props {
    type: "login" | "signup"
}

const { type } = Astro.props
---

<form id="form" class="flex flex-col gap-2 w-[200px]">
    <input
        class="text-center border-2 p-2 rounded-xl"
        placeholder="enter osis:"
        name="osis"
        id="osis"
    />

    <input
        class="text-center border-2 p-2 rounded-xl"
        placeholder="enter password:"
        type="password"
        name="password"
        id="password"
    />

    <button class="text-center border-2 p-2 rounded-xl" type="submit">
        { type === "login" ? "Log in" : "Sign up"}
    </button>
</form>
<h1 id="error" class="text-sm text-[#eb3446]"></h1>


<div class="flex flex-col gap-2 w-[200px]">
    <h1 class="text-sm text-center">
        { type === "login" ? "Don't have an account?" : "Already have an account?"}
    </h1>
    <a href={ type === "login" ? "/signup" : "/"} class="text-center border-2 p-2 rounded-xl w-[200px]">
        { type === "login" ? "Sign up" : "Log in"}
    </a>
</div>